/* Provide sufficient contrast against white background */
a {
    color: #04635d;
}

code {
    color: #04635d;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

header {
    background-color: #21d3bd;
}

.text-dark {
    color: #04635d;
}